
APScheduler==3.5.3
configparser==3.5.0
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.2
Flask-Login==0.4.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
Jinja2==2.9.6
pycparser==2.18
PyJWT==1.7.1
pymongo==3.4.0
PyMySQL==0.9.2
pyparsing==2.2.0
python-crontab==2.2.2
python-dateutil==2.6.0
pytz==2017.2
query-string==1.0.2
request==1.0.2
requests==2.17.3
SQLAlchemy==1.2.11
urllib3==1.21.1
websockets==4.0.1
Werkzeug==0.12.2
wrapt==1.10.11
WTForms==2.2.1
